# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R 
4. Java
5. Scala
6. Julia

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries used by Data Scientists.
- List Data Science Tools
- Arithmetic Expressions in Python

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Matplotlib
3. Pandas
4. SciPy
5. Seaborn

| Data Science Tools |
|----------|
| Jupyter Notebooks |
| JupyterLab |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers.

17

In [4]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Aryan